<!DOCTYPE html>
<html>
  <head>
    <title>Incident Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <%= turbo_stream_from "incidents" %>
    <%= turbo_stream_from "terminal" %>
    <main class="container mx-auto mt-8">
      <%= yield %>
    </main>
    <div data-controller="terminal">
      <%= render "shared/dev_terminal" %>
      <%= render "shared/terminal_restore" %>
    </div>
  </body>
</html>
